@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");

/* General */

html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* End of General */

/* Header */

.navbar {
  /* background: rgba(186, 186, 186, 0.99);  */
  background: #eb3349#eb3349; 
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  );
  position: fixed;
  width: 100%;
  transition: opacity .5s ease-out;
  opacity: 0;
  z-index: 1;
}

.navbar__show {
  opacity: 1;
}


.wrapper {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.logo-container {
  background: #e53935; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e35d5b, #e53935); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e35d5b,
    #e53935
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: inline-block;
  border-radius: 10px;
}


.logo-container img {
  width: 80px;
  height: 70px;
}

.nav-container {
  display: inline-block;
  float: right;
}

.nav-container ul li {
  float: left;
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
  color: #000;
  padding-right: 76px;
  font-weight: bold;
  display: block;
  padding-top: 27px;
  font-size: 23px;
}

.cart-container {
  display: inline-block;
  float: right;
  padding-top: 27px;
  position: relative;
  
}

.cart-container:hover {
  cursor: pointer;
}

.cart {
  color: RGB(255, 65, 78);
  font-size: 25px;
}

.cart-number {
  position: absolute;
  top: 15px;
  left: 21px;
  font-weight: bold;
  color: #990000;
  font-size: 23px;
}

.nike-logo {
  width: 200px;
}

/* End of Header */

/* Background */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  
}

.hero--title {
  position: absolute;
  top: 45%;
  left: 60%;
  font-family: "Baloo Tammudu 2", cursive;
  color: red;
  font-size: 60px;
  text-transform: capitalize;
  text-shadow: 3px 5px 5px #898989;
  letter-spacing: 5px;
}

/* .nike-container {
  position: absolute;
  top: 50%;
  left: 63%;
} */

.hero--bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

.hero--overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(210, 78, 87, .18);
}

/* End of Background */

/* Products */

.products-container {
  width: 100%
  height: auto;
  background: #ddd6f3; 
  background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); 
}

.products {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 30px;
  row-gap: 15px;
}

.product-container {
  text-align: center;
  color： #898989;
  font-size: 20px;
  position: relative;
}

.product-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 30px;
  background-color: gold;
  opacity: 0;
  transition: all .3s ease-out;
  border-radius: 3px;
  box-shadow: 10px 10px 10px #ccc;
}

.product-container:hover .product-btn{  
  opacity: 1;
  cursor: pointer;
}

/* End of Products */

/* Start of Shopping Cart */

.shopping-cart {
  position: fixed;
  width: 400px;
  height: 100%;
  top: 0;
  left: -400px;
  bottom: 0;
  background: #eb3349#eb3349; 
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); 
  opaicty: 0;
  transition: all .8s ease-out;
  z-index: 3;
  overflow: auto;
}

.slide-in {
  left: 0;
  opaicty: 1;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
  width: 50px;
  height: 50px;
}

.listing {
  position: relative;
  max-width: 360px;
  display: block;
  text-align: center;
  top: 80px;
  margin: 0 auto;
}

.listItem {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  padding: 10px 0; 
  align-items: center;
}

.cancelBtn {
  width: 20px;
  height: 20px;
  color: #000;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

/* End of Shopping Cart */